USE [master]
GO
/****** Object:  Database [BurgerPlus]    Script Date: 01.06.2026 10:57:30 ******/
CREATE DATABASE [BurgerPlus]
GO
USE [BurgerPlus]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserSecondName] [nvarchar](50) NOT NULL,
	[UserFirstName] [nvarchar](50) NOT NULL,
	[UserPatronymic] [nvarchar](50) NOT NULL,
	[UserRoleKey] [int] NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Users]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Users] AS
SELECT 
    u.UserID,
    u.UserSecondName,
    u.UserFirstName,
    u.UserPatronymic,
    CONCAT(u.UserSecondName, ' ', u.UserFirstName, ' ', u.UserPatronymic) AS FullName,
    r.RoleName,
    u.Login,
    u.IsBlocked,
    u.CreatedAt
FROM Users u
INNER JOIN Roles r ON u.UserRoleKey = r.RoleID;


GO
/****** Object:  Table [dbo].[OrderExecutors]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderExecutors](
	[OrderExecutorID] [int] IDENTITY(1,1) NOT NULL,
	[OrderExecutorName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderExecutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[ProductKey] [int] NOT NULL,
	[ProductQuantity] [tinyint] NOT NULL,
	[Summ] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderExecutorKey] [int] NOT NULL,
	[ClientKey] [int] NOT NULL,
	[OrderItemKey] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](50) NOT NULL,
	[ClientINN] [char](11) NULL,
	[ClientAddressKey] [int] NOT NULL,
	[ClientPhone] [char](11) NOT NULL,
	[ClientSalesmanBool] [bit] NOT NULL,
	[ClientBuyerBool] [bit] NOT NULL,
 CONSTRAINT [PK__Clients__E67E1A049DC40A8B] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Orders]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Orders] AS
SELECT 
    o.OrderID,
    oe.OrderExecutorName AS Executor,
    c.ClientName AS Client,
    o.OrderDate,
    o.Status,
    oi.ProductQuantity,
    oi.Summ AS OrderSumm
FROM Orders o
INNER JOIN OrderExecutors oe ON o.OrderExecutorKey = oe.OrderExecutorID
INNER JOIN Clients c ON o.ClientKey = c.ClientID
INNER JOIN OrderItems oi ON o.OrderItemKey = oi.OrderItemID;


GO
/****** Object:  Table [dbo].[MeasureUnits]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasureUnits](
	[MeasureUnitID] [int] IDENTITY(1,1) NOT NULL,
	[MeasureUnitName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MeasureUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[ManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[MeasureUnitKey] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSpecifications]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSpecifications](
	[ProductSpecificationID] [int] IDENTITY(1,1) NOT NULL,
	[ProductionProductKey] [int] NOT NULL,
	[ManufacturerKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductSpecificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductSpecifications]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductSpecifications] AS
SELECT 
    ps.ProductSpecificationID,
    p.ProductName,
    p.ProductFatPercent,
    p.Weight,
    m.MeasureUnitName,
    p.Price,
    man.ManufacturerName
FROM ProductSpecifications ps
INNER JOIN Products p ON ps.ProductionProductKey = p.ProductID
INNER JOIN Manufacturers man ON ps.ManufacturerKey = man.ManufacturerID
INNER JOIN MeasureUnits m ON p.MeasureUnitKey = m.MeasureUnitID;


GO
/****** Object:  Table [dbo].[ClientAddresses]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientAddresses](
	[ClientAddressID] [int] IDENTITY(1,1) NOT NULL,
	[ClientAddressCity] [nvarchar](50) NOT NULL,
	[ClientAddressStreet] [nvarchar](50) NULL,
	[ClientAddressBuilding] [nvarchar](50) NULL,
 CONSTRAINT [PK__ClientAd__A0FE396F5CEBA21C] PRIMARY KEY CLUSTERED 
(
	[ClientAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[MeasureUnitKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionMaterials]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionMaterials](
	[ProductionMaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialKey] [int] NOT NULL,
	[MaterialQuantity] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductionMaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionProducts]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionProducts](
	[ProductionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductionDate] [date] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[Weight] [decimal](5, 2) NOT NULL,
	[ProductionMaterialKey] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClientAddresses] ON 

INSERT [dbo].[ClientAddresses] ([ClientAddressID], [ClientAddressCity], [ClientAddressStreet], [ClientAddressBuilding]) VALUES (1, N'Пятигорск', NULL, NULL)
INSERT [dbo].[ClientAddresses] ([ClientAddressID], [ClientAddressCity], [ClientAddressStreet], [ClientAddressBuilding]) VALUES (2, N'Железноводск', N'Мира', N'123')
INSERT [dbo].[ClientAddresses] ([ClientAddressID], [ClientAddressCity], [ClientAddressStreet], [ClientAddressBuilding]) VALUES (3, N'Железноводск', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ClientAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [ClientName], [ClientINN], [ClientAddressKey], [ClientPhone], [ClientSalesmanBool], [ClientBuyerBool]) VALUES (5, N'ООО "Поставка"', NULL, 1, N'79198634592', 1, 1)
INSERT [dbo].[Clients] ([ClientID], [ClientName], [ClientINN], [ClientAddressKey], [ClientPhone], [ClientSalesmanBool], [ClientBuyerBool]) VALUES (6, N'ООО "Кинотеатр Квант"', N'26320045123', 2, N'79884581555', 1, 0)
INSERT [dbo].[Clients] ([ClientID], [ClientName], [ClientINN], [ClientAddressKey], [ClientPhone], [ClientSalesmanBool], [ClientBuyerBool]) VALUES (7, N'ООО "Новый JDTO"', N'26320045111', 3, N'79884581555', 1, 0)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Пользователь')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserSecondName], [UserFirstName], [UserPatronymic], [UserRoleKey], [Login], [Password], [IsBlocked]) VALUES (1, N'Михеев', N'Владимир', N'Александрович', 1, N'admin', N'admin', 0)
INSERT [dbo].[Users] ([UserID], [UserSecondName], [UserFirstName], [UserPatronymic], [UserRoleKey], [Login], [Password], [IsBlocked]) VALUES (2, N'Иванов', N'Иван', N'Иванович', 2, N'user', N'user', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B356B32B0]    Script Date: 01.06.2026 10:57:30 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF__Clients__ClientS__412EB0B6]  DEFAULT ((0)) FOR [ClientSalesmanBool]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF__Clients__ClientB__4222D4EF]  DEFAULT ((0)) FOR [ClientBuyerBool]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Processing') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK__Clients__ClientA__46E78A0C] FOREIGN KEY([ClientAddressKey])
REFERENCES [dbo].[ClientAddresses] ([ClientAddressID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK__Clients__ClientA__46E78A0C]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD FOREIGN KEY([MeasureUnitKey])
REFERENCES [dbo].[MeasureUnits] ([MeasureUnitID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductKey])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__ClientKe__49C3F6B7] FOREIGN KEY([ClientKey])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__ClientKe__49C3F6B7]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([OrderExecutorKey])
REFERENCES [dbo].[OrderExecutors] ([OrderExecutorID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([OrderItemKey])
REFERENCES [dbo].[OrderItems] ([OrderItemID])
GO
ALTER TABLE [dbo].[ProductionMaterials]  WITH CHECK ADD FOREIGN KEY([MaterialKey])
REFERENCES [dbo].[Materials] ([MaterialID])
GO
ALTER TABLE [dbo].[ProductionProducts]  WITH CHECK ADD FOREIGN KEY([ProductKey])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductionProducts]  WITH CHECK ADD FOREIGN KEY([ProductionMaterialKey])
REFERENCES [dbo].[ProductionMaterials] ([ProductionMaterialID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([MeasureUnitKey])
REFERENCES [dbo].[MeasureUnits] ([MeasureUnitID])
GO
ALTER TABLE [dbo].[ProductSpecifications]  WITH CHECK ADD FOREIGN KEY([ManufacturerKey])
REFERENCES [dbo].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [dbo].[ProductSpecifications]  WITH CHECK ADD FOREIGN KEY([ProductionProductKey])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([UserRoleKey])
REFERENCES [dbo].[Roles] ([RoleID])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddOrder]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddOrder]
    @ClientName NVARCHAR(50),
    @ProductName NVARCHAR(50),
    @Quantity TINYINT
AS
BEGIN
    DECLARE @ClientID INT, @ProductID INT, @OrderItemID INT, @Price DECIMAL(18,2), @Summ DECIMAL(18,2);
    
  
    SELECT @ClientID = ClientID FROM Clients WHERE ClientName = @ClientName;
    
    
    SELECT @ProductID = ProductID, @Price = Price FROM Products WHERE ProductName = @ProductName;
    
   
    SET @Summ = @Price * @Quantity;
    
    
    INSERT INTO OrderItems (ProductKey, ProductQuantity, Weight, Summ)
    VALUES (@ProductID, @Quantity, 0, @Summ);
    
    SET @OrderItemID = SCOPE_IDENTITY();
    
    
    INSERT INTO Orders (OrderExecutorKey, ClientKey, OrderItemKey, OrderDate)
    VALUES (1, @ClientID, @OrderItemID, GETDATE());
    
    SELECT SCOPE_IDENTITY() AS NewOrderID;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_AddUser]    Script Date: 01.06.2026 10:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddUser]
    @SecondName NVARCHAR(50),
    @FirstName NVARCHAR(50),
    @Patronymic NVARCHAR(50),
    @RoleName NVARCHAR(50),
    @Login NVARCHAR(100),
    @Password NVARCHAR(255)
AS
BEGIN
    DECLARE @RoleKey INT;
    
    SELECT @RoleKey = RoleID FROM Roles WHERE RoleName = @RoleName;
    
    IF @RoleKey IS NULL
    BEGIN
        RAISERROR('Роль не найдена', 16, 1);
        RETURN;
    END
    
    INSERT INTO Users (UserSecondName, UserFirstName, UserPatronymic, UserRoleKey, Login, PasswordHash)
    VALUES (@SecondName, @FirstName, @Patronymic, @RoleKey, @Login, @Password);
    
    SELECT SCOPE_IDENTITY() AS NewUserID;
END;


GO
USE [master]
GO
